@model List<VisitorViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h3>Api Ziyaretçi Listesi</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Şehir</th>
        <th>Ülke</th>
        <th>Mail Adresi</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.Name</td>
            <td>@item.Surname</td>
            <td>@item.City</td>
            <td>@item.Country</td>
            <td>@item.Email</td>
            <td><a href="/Admin/VisitorApi/DeleteVisitor/@item.VisitorId/" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Admin/VisitorApi/UpdateVisitor/@item.VisitorId/" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Admin/VisitorApi/AddVisitor/" class="btn btn-outline-primary">Yeni Ziyaretçi Ekle</a>