@model List<RoleAssignViewModel>
@{
    ViewData["Title"] = "AssignRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Rol Atama Sayfası</h3>

<form method="post">
    @for(int i = 0; i<Model.Count; i++)
    {
        <div class="form-checked">
            <input type="hidden" asp-for="@Model[i].RoleId" />
            <input type="hidden" asp-for="@Model[i].RoleName" />
            <input type="checkbox" asp-for="@Model[i].RoleExist" class="form-check-input" />
            <label class="form-check-label" asp-for="@Model[i].RoleExist">@Model[i].RoleName</label>
        </div>
    }
    <br />
    <button class="btn btn-outline-primary">Değişiklikleri Kaydet</button>
</form>